_ReSharper.*
*.suo
*~
/bin
/bin/*
obj
obj/*
*.resharper
*.ReSharper
*.resharper.user
*.ReSharper.user
*.sln.cache
*.csproj.user
*.Cache
NDependOut
/build/test-report*
/Reports
*.gallio.user
*.html
*.swp
/lib
/lib/*
*.zip
